# dependencies
node_modules/

# testing
coverage/

# production build
build/

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vite/React cache
.vite
dist/

# Optional: VSCode settings
.vscode/

# Optional: Mac or Linux junk
*.swp
Thumbs.db
